@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 215 25% 27%;
    --card: 0 0% 100%;
    --card-foreground: 215 25% 27%;
    --popover: 0 0% 100%;
    --popover-foreground: 215 25% 27%;
    --primary: 204 70% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 145 50% 50%;
    --secondary-foreground: 0 0% 100%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215 25% 45.1%;
    --accent: 50 90% 67%;
    --accent-foreground: 215 25% 27%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 40% 90%;
    --input: 210 40% 90%;
    --ring: 204 70% 53%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 215 28% 17%;
    --foreground: 210 40% 98%;
    --card: 215 28% 14%;
    --card-foreground: 210 40% 98%;
    --popover: 215 28% 14%;
    --popover-foreground: 210 40% 98%;
    --primary: 204 70% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 145 50% 50%;
    --secondary-foreground: 0 0% 100%;
    --muted: 215 28% 21%;
    --muted-foreground: 215 25% 65.1%;
    --accent: 50 90% 67%;
    --accent-foreground: 215 25% 27%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 28% 25%;
    --input: 215 28% 25%;
    --ring: 204 70% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
